---
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout title="Home" description={SITE.description}>
    <PageHead slot="head" title="Home" />
    <Container class="flex flex-col gap-y-6">
        <section>
            <Card>
                <CardHeader>
                    <CardTitle className="text-3xl">Hi! I'm ctfguy</CardTitle>
                </CardHeader>
                <CardContent>
                    <p class="mb-2 text-sm">
                        Welcome to my personal blog 
                    </p>
                    <p class="mb-2 text-sm text-muted-foreground">
                        I post my writeups for various challenges I solved during ctf and some useful notes.
   
                    </p>
                </CardContent>
            </Card>
            <section class="flex flex-col gap-y-4 mt-4">
                <h2 class="text-2xl font-bold">Latest posts</h2>
                <ul class="not-prose flex flex-col gap-y-4">
                    {
                        blog.map((post) => (
                            <li>
                                <BlogCard entry={post} />
                            </li>
                        ))
                    }
                </ul>
                <div class="flex justify-center">
                    <Link
                        href="/blog"
                        class={buttonVariants({ variant: 'ghost' }) + ' group'}
                    >
                        See all posts <span
                            class="ml-1.5 transition-transform group-hover:translate-x-1"
                            >&rarr;</span
                        >
                    </Link>
                </div>
            </section>
        </section>
    </Container>
</Layout>
